.arrow {
  background-color: black;
  border: 0;
  color: white;
}

.arrow:hover {
  color: aqua;
}

.text-ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-clamp: 1;
}
